/*/////////////////////////////////////*/
/*//////// Makes Bot Tag Round ////////*/
/*/////////////////////////////////////*/

.botTag-2mryIa {
    border-radius: 20px !important;
}

/*/////////////////////////////////////*/
/*///////// Custom Home Button ////////*/
/*/////////////////////////////////////*/

.childWrapper-1j_1ub{
  background: var(--HomeIconImg); /* image url */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  margin-top: 0px;
}
.homeIcon-r0w4ny path {
  fill: transparent;
}
.header-3ZP1MY { /*idk what to change this to*/
  color: var(white);
}

/*/////////////////////////////////////*/
/*//////////// Better roles ///////////*/
/*/////////////////////////////////////*/

.role-2TIOKu {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
  padding: 5px;
}
.roleCircle-1EgnFN::before {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background: inherit;
  opacity: .2;
  z-index: -1;
  pointer-events: none;
}
.footer-1fjuF6 { /* does this matter? */
  border-top: none;
}

/*/////////////////////////////////////*/
/*/////////// Bot tag Color ///////////*/
/*/////////////////////////////////////*/

.botTagRegular-kpctgU {
    transition: .5s;
    background: rgba(114,137,218,0.1);
    color: #7289da;
}
.botTagRegular-kpctgU:hover {
    transition: .5s;
    background: #7289da;
    color: #fff;
}

/*/////////////////////////////////////*/
/*////// Reveal Spoiler on Hover //////*/
/*/////////////////////////////////////*/

.spoilerText-27bIiA.hidden-3B-Rum:hover .inlineContent-2YnoDy {
  opacity: 1;
  border-radius: 3px;
  background-color: #4a4d53;
}

/*/////////////////////////////////////*/
/*//////// Center server name /////////*/
/*/////////////////////////////////////*/

.name-3Uvkvr{ text-align: center; }

/*/////////////////////////////////////*/
/*//////// Center profile tabs ////////*/
/*/////////////////////////////////////*/

.tabBar-2hXqzU{ justify-content: center; }

/*/////////////////////////////////////////////*/
/* Hide Textbox when you don't have permission */
/*/////////////////////////////////////////////*/

.channelTextAreaDisabled-1p2fQv>div {
    display: none;
}

/*/////////////////////////////////////////////*/
/* Cleaner status picker with gradient buttons */
/*/////////////////////////////////////////////*/

#status-picker .separator-1So4YB, #status-picker .description-3Cwkxk {
  display: none;
}
#status-picker .focused-3qFvc8 {
  background: linear-gradient(45deg, #2b45a2, #7289da);
}
#status-picker .focused-3qFvc8#status-picker-online {
  background: linear-gradient(45deg, #21583f, #43b581);
}
#status-picker .focused-3qFvc8#status-picker-idle {
  background: linear-gradient(45deg, #915c03, #faa61a);
}
#status-picker .focused-3qFvc8#status-picker-dnd {
  background: linear-gradient(45deg, #aa0e0e, #f04747);
}
#status-picker .focused-3qFvc8#status-picker-invisible {
  background: linear-gradient(45deg, #3a4047, #747f8d);
}

/*/////////////////////////////////////*/
/*//// Colorized Buttons Titlebar /////*/
/*/////////////////////////////////////*/

.titleBar-1it3bQ > *:nth-child(3):hover {background-color: #eab618;}
.titleBar-1it3bQ > *:nth-child(4):hover {background-color: #48c048;}

/*/////////////////////////////////////*/
/*/// Colored Emote Button Text Bar ///*/
/*/////////////////////////////////////*/

.sprite-2lxwfc {
  filter: grayscale(0) !important;
}

/*/////////////////////////////////////*/
/*/////// Red Slash Muted in VC ///////*/
/*/////////////////////////////////////*/

.voiceUser-1K6Xox>.content-1Wq3SX>.icons-1dXQdz svg>path:last-child{
  fill: #f04747;
}

/*/////////////////////////////////////*/
/*/////////// Nicer QuickCSS //////////*/
/*/////////////////////////////////////*/

.powercord-quickcss .CodeMirror-gutters {
  border-right: none;
}
.powercord-quickcss .CodeMirror-activeline {
  background-color: var(--background-tertiary);
}
.powercord-quickcss > .powercord-quickcss-editor {
  background-color: var(--background-secondary);
}

/*/////////////////////////////////////*/
/*///////// User Modal Pretty /////////*/
/*/////////////////////////////////////*/

.clipContainer-eeROt0 {background-color: rgba(0,0,0,0.5) !important}
.userPopout-2j1gM4, .popoutBanner-3cqRD9, .popoutBannerPremium-3i5EEI {width: 350px !important;}
.headerText-1-WmDq::before {content: ""; width: 1px; display: block !important; height: 38px !important;}
.avatar-2Vndt_.wrapper-1VLyxH { width: 128px !important; height: 128px !important;}
.avatar-2Vndt_ { border-radius: 24px !important;} /* Can be modified appropriately */
.bodyTitle-2Az3VQ, .inputWrapper-1YNMmM, .note-Go5ZP2, .setIdentityLink-1t8Ahd, .footer-3naVBw { display: none !important;}
.avatar-2Vndt_ {border-radius: 25px !important;}

/*/////////////////////////////////////*/
/*/////// Profile Modification ////////*/
/*/////////////////////////////////////*/

/* eh not doing this */

:root{--premium-size:480px;--premium-opacity:.25;--premium-blur:blur(2.6px)} /* 50px For Banner | 400 For Full */
.theme-dark .root-1gCeng .body-r6_QPy,.topSection-y3p-_D .tabBarContainer-37hZsr .tabBar-3nvOPa,.tabBarItem-3dfX8P{display:table;margin-bottom:15px;font-size:16px;margin-left:8px}
.theme-dark .root-1gCeng .tabBarContainer-37hZsr{top: 100px; position: relative;}
.nameTag-ECvD8P{top:80px;left:20px}
.top-28JiJ- .item-PXvHYJ,.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ,.top-28JiJ- .themed-OHr7kt.item-PXvHYJ:active{border-bottom-color:transparent;border-bottom:transparent;margin-bottom:20px;top:-20px}
.body-r6_QPy{position:absolute;background-color:transparent;left:190px;top:30px;height:350px;width:400px}
.profileBannerPremium-35utuo{width: 600px; height:475px;top:0;height:var(--premium-size);background-position:center;background-size:cover;opacity:var(--premium-opacity);position:absolute;filter:var(--premium-blur)}
.profileBanner-33-uE1, .customStatusText-2opeSw,.actionButton-3vN-m0,.badgeList-1R1WgZ,.banner-2QYc2d:hover .premiumIconWrapper-1A-UH5{display:none}
.actionsProfile-jEtjVX{position:absolute;margin-top:150px;margin-left:-0}
.userInfoSection-q_35fn+.userInfoSection-q_35fn,.tabBarContainer-37hZsr{border: none;}
.userProfileActivity-Bnt1p_{width:360px;margin-bottom:30px}
.note-367eZJ textarea{margin-bottom:5px}
.relationshipButtons-pUQVkf{bottom:12px!important;left:-35px;transform:scale(1.2);position:relative}
.avatar-AvHqJA{transform:scale(0.8);left:20px;margin-top:20px}
.avatar-AvHqJA.wrapper-3t9DeA,.body-r6_QPy,.topSection-y3p-_D{background-color:transparent;border:var(--glasscord-background)}
.topSection-y3p-_D{height:475px}
.body-r6_QPy,.topSection-y3p-_D{min-height:400px}
.theme-dark .root-1gCeng{background-color:var(--background-floating); border-radius: 16px !important;}

:root{--user-modal-avatar-size:230px; --blur-the-things: 0px}
.root-3QyAh1 .body-r6_QPy .listScroller-3GmIYj{padding-left:45px;margin-bottom:20px!important; margin-top: 10px;}
.root-3QyAh1 .body-r6_QPy .listScroller-3GmIYj .listRow-1iDGel{display:inline-table; align-content: center; justify-content: center; text-align: center;}
.root-3QyAh1 .listScroller-3GmIYj .mask-1l8v16.svg-2V3M55,.listRow-1iDGel .listAvatar-1BbvHX.wrapper-3t9DeA{filter:blur(var(--blur-the-things));width:calc(var(--user-modal-avatar-size) * 1/3)!important;height:calc(var(--user-modal-avatar-size) * 1/3)!important}
.root-3QyAh1 .listScroller-3GmIYj .listRow-1iDGel .iconSizeMedium-2OqPjI{filter:blur(var(--blur-the-things));width:calc(var(--user-modal-avatar-size) * 1/3)!important;height:calc(var(--user-modal-avatar-size) * 1/3)!important}
.root-3QyAh1 .listScroller-3GmIYj .listName-U3shDM,.root-3QyAh1 .listScroller-3GmIYj .listRowContent-i8Bizk{margin-top:2px;display:none}
.listRow-1iDGel:hover{background-color:transparent}

.pc-connections .connectedAccounts-QlRa4m:empty::before {background-color: rgba(0,0,0,0) !important;}
.userProfileActivity-Bnt1p_ {right: 50px;}
.nameTag-ECvD8P {width: 170px;}
