/*/////////////////////////////////////*/
/*///////// Custom Home Button ////////*/
/*/////////////////////////////////////*/

.childWrapper__01b9c *{
  background: var(--HomeIconImg); /* image url */
  background-color: transparent !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  margin-top: 0px;
  color:transparent;
  }
  
  /*/////////////////////////////////////////////*/
  /* Hide Textbox when you don't have permission */
  /*/////////////////////////////////////////////*/
  
  .channelTextAreaDisabled_c43b1c>div {
    display: none;
  }
  
  /*/////////////////////////////////////*/
  /*//// Colorized Buttons Titlebar /////*/
  /*/////////////////////////////////////*/
  
  .titleBar__01af6 > *:nth-child(3):hover {background-color: #eab618;}
  .titleBar__01af6 > *:nth-child(4):hover {background-color: #48c048;}