@font-face {
  font-family: Customa-Misc;
  src: url("https://customa.gitlab.io/Customa-Misc/Discord/Customa-Misc.woff") format("woff");
}

/*******************/
/* Settings Panels */
/*******************/
.platform-win .layer-86YKbF /* Entire Background */ {
  background-color: rgba(0, 0, 0, 0);
}
.standardSidebarView-E9Pc3j /* Also Entire Background */ {
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebarRegionScroller-FXiQOh /* Left Settings Panel */ {
  background-color: rgba(0, 0, 0, 0.4);
}
.contentRegion-3HkfJJ /* Right Settings Panel */ {
  background-color: rgba(0, 0, 0, 0);
}
.contentRegionShownSidebar-fHXkEg /* Right Settings Panel */ {
  background-color: rgba(0, 0, 0, 0.2);
}

/******************/
/* App Background */
/******************/
body /* Discord Application Body */ {
    background: var(--BackgroundImg);
    background-position: center;
    background-size: cover;
}

/*************************/
/* Round Top Left Corner */
/*************************/
.container-1-ERn5.clickable-vvKY2q, .searchBar-3TnChZ, .base-2jDfDU, .sidebar-1tnWFu, .platform-win .sidebar-1tnWFu {
  border-radius: 15px 0px 0px 0px;
}

/***************************/
/* Transparent Server List */
/***************************/
.scroller-3X7KbA.none-1rXy4P.scrollerBase-1Pkza4 {
  background-color: transparent;
}
.wrapper-1_HaEi {
  background-color: transparent;
}

/***************************/
/* Transparent Member List */
/***************************/
.members-3WRCEx {
  background-color: transparent;
}
.container-2o3qEW {
  background-color: rgba(0, 0, 0, 0.35)
}

/*********************/
/* Member List Blobs */
/*********************/
.member-48YF_l {
    background-color: rgba(0, 0, 0, 0.3);
}

/*****************************/
/* Remove Now Playing Column */
/*****************************/
.nowPlayingColumn-1eCBCN {
  display: none;
}

/***********************/
/* Channels List Panel */
/***********************/
.sidebar-1tnWFu /* Also Affects DM List */ {
  background-color: rgba(0, 0, 0, 0.45);
}
.theme-dark .container-1NXEtd {
  background-color: transparent;
}

/**************/
/* User Panel */
/**************/
.panels-3wFtMD, .embedFull-1HGV2S {
  background-color: rgba(0, 0, 0, 0.5);
}
.theme-dark .container-YkUktl {
  background-color: var(--ColBackground1);
}

/************/
/* DMs List */
/************/
.privateChannels-oVe7HL {
  background-color: transparent;
}
.theme-dark .scroller-WSmht3 {
  background-color: transparent;
}

/**************************/
/* Top Bar Friends Screen */
/**************************/
.container-ZMc96U.themed-Hp1KC_ {
  background-color: transparent;
}

/**************/
/* Background */
/**************/
#app-mount /* App Mount */ {
  background-color: transparent;
}
.app_de4237 {
  background-color: transparent;
}
.bg-1QIAus {
  background-color: transparent;
}

/***************/
/* Chat Window */
/***************/
.chat__52833 {
  background-color: rgba(0, 0, 0, 0.55);
}
.chatContent__5dca8 {
  background-color: blue !important;
}

/******************/
/* Friends Window */
/******************/
.theme-dark .container-2cd8Mz {
  background-color: rgba(0, 0, 0, 0.55);
}

/****************/
/* Top Bar Chat */
/****************/
.title-31SJ6t.container-ZMc96U.themed-Hp1KC_ {
  background-color: rgba(0, 0, 0, 0.15);
}
.searchBar-3TnChZ {
  background-color: rgba(0, 0, 0, 0.3);
}
.container-1-ERn5 {
  background-color: rgba(0, 0, 0, 0.3);
}
.children-3xh0VB::after {
  display: none;
}

/************/
/* Text Bar */
/************/
.scrollableContainer-15eg7h.webkit-QgSAqd {
  background-color: rgba(0, 0, 0, 0.35)
}
.channelTextArea-1FufC0.channelTextArea-1VQBuV {
  background-color: rgba(0, 0, 0, 0.35)
}
.form-3gdLxP::before {
  display: none;
}