@font-face {
  font-family: Customa-Misc;
  src: url("https://customa.gitlab.io/Customa-Misc/Discord/Customa-Misc.woff") format("woff");
}

/*******************/
/* Settings Panels */
/*******************/
.platform-win .layer__2efaa /* Entire Background */ {
  background-color: rgba(0, 0, 0, 0);
}
.standardSidebarView__1129a /* Also Entire Background */ {
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebarRegionScroller__1fa7e /* Left Settings Panel */ {
  background-color: rgba(0, 0, 0, 0.4);
}
.contentRegion__0bec1 /* Right Settings Panel */ {
  background-color: rgba(0, 0, 0, 0);
}
.contentRegionShownSidebar__610ed /* Right Settings Panel */ {
  background-color: rgba(0, 0, 0, 0.2);
}

/******************/
/* App Background */
/******************/
body /* Discord Application Body */ {
    background: var(--BackgroundImg);
    background-position: center;
    background-size: cover;
}

/*************************/
/* Round Top Left Corner */
/*************************/
.container-1-ERn5.clickable-vvKY2q, .searchBar-3TnChZ, .base-2jDfDU, .sidebar-1tnWFu, .platform-win .sidebar-1tnWFu {
  border-radius: 15px 0px 0px 0px;
}

/***************************/
/* Transparent Server List */
/***************************/
.expandedFolderBackground__1bec6 {
  background-color: rgba(0, 0, 0, 0.35);
}
.wrapper_a7e7a8 {
  background-color: transparent;
}

/***************************/
/* Transparent Member List */
/***************************/
.members__9f47b {
  background-color: transparent;
}
.container_b2ce9c {
  background-color: rgba(0, 0, 0, 0.35)
}

/*********************/
/* Member List Blobs */
/*********************/
.member_aa4760 {
    background-color: transparent;
}

/*****************************/ 
/* Remove Now Playing Column */
/*****************************/
.nowPlayingColumn_f5023f {
  display: none;
}

/***********************/
/* Channels List Panel */
/***********************/
.sidebar_ded4b5 /* Also Affects DM List */ {
  background-color: rgba(0, 0, 0, 0.45);
}
.theme-dark .container__590e2 {
  background-color: transparent;
}

/**************/
/* User Panel */
/**************/
.panels__58331 {
  background-color: rgba(0, 0, 0, 0.4);
}
.theme-dark .container_ca50b9 {
  background-color: transparent;
}

/************/
/* DMs List */
/************/
.privateChannels__93473 {
  background-color: transparent;
}
.theme-dark .scroller__4b984 {
  background-color: transparent;
}

/**************************/
/* Top Bar Friends Screen */
/**************************/
.theme-dark.container__11d72.themed_b152d4 {
  background-color: rgba(0, 0, 0, 0.3);
}

.searchBar_e4ea2a {
  background-color: rgba(0, 0, 0, 0.4);
}

/**************/
/* Background */
/**************/
#app-mount /* App Mount */ {
  background-color: transparent;
}
.app_de4237 {
  background-color: red;
}
.bg__12180 {
  background-color: red;
}

/***************/
/* Chat Window */
/***************/

.chat__52833 {
  background-color: rgba(0, 0, 0, 0.55);
}
.chatContent__5dca8 {
  background-color: transparent !important;
}

/******************/
/* Friends Window */
/******************/
.container__5c7e7 {
  background-color: rgba(0, 0, 0, 0.55) !important;
}

/****************/
/* Top Bar Chat */
/****************/
.title_b7d661.container__11d72.themed_b152d4 {
  background-color: rgba(0, 0, 0, 0.15);
}
.searchBar_e0c60b {
  background-color: rgba(0, 0, 0, 0.3);
}
.container__7c79d {
  background-color: rgba(0, 0, 0, 0.3);
}
.children__32014::after {
  display: none;
}

/************/
/* Text Bar */
/************/
.themedBackground__6b1b6 {
  background: transparent;
}
.channelTextArea__2e60f.channelTextArea__56a36 {
  background-color: rgba(0, 0, 0, 0.35)
}
.form__13a2c::before {
  display: none;
}