.name__8d1ec, .icon_eff5d4, .content_f767b8 {
  color: var(--ColFontBright);
}

.modeMuted__0aeea .icon_eff5d4, .modeMuted__0aeea .name__8d1ec {
  color: var(--ColMuted);
}


.modeSelected__487d6 .name__8d1ec, .modeSelected__487d6:hover .name__8d1ec, .modeConnected__1c02e .name__8d1ec, .modeConnected__1c02e:hover .name__8d1ec {
  color: var(--SelectedColor);
  transition: color 200ms;
}

.modeUnreadImportant_efb53e .name__8d1ec, .modeUnreadImportant_efb53e:hover .name__8d1ec {
  color: var(--UnreadColor) !important;
  transition: color 200ms;
}

.name__8d1ec:hover /* Channel Categories */ {
  color: var(--HoverColor)!important;
  transition: color 200ms;
}

.container_de798d, .icon_ef4486 {
  color: var(--ColFontBright);
}